/* TODO: VARIABILISER & UNIFORMISER */
/* Objectif: slider zoom */


.game-header {
  display: flex;
  div {
    min-width: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#game-table {
  /* background-color: rgb(209, 209, 209); */
  border: 1px dashed;

  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 3rem 4rem 1fr;
  gap: 0px 0px;
  grid-template-areas:
    'filler scores'
    'filler scores'
    'players scores';

  /* grid-template-areas:
    'filler header'
    'filler scores'
    'players scores'; */

  .table-header {
    /* background-color: aqua; */

    grid-area: header;
    display: flex;
  }

  /* VARIABLES */
  --scores-row-width: 8rem;
  --scores-row-height: 5rem;
  --game-selector-height: 4rem;

  .score-column {
    width: var(--scores-row-width);

    .dropdown {
      width: 80%;
    }
  }

  .score-row {
    height: var(--scores-row-height);
  }

  .table-players {
    /* background-color: lightsalmon; */

    --base-font-size: 1.5rem;

    grid-area: players;

    display: flex;
    flex-direction: column;

    &.expanded { 
     width: calc(var(--scores-row-width) * 2);
    }
    &.reduced { 
     width: calc(var(--scores-row-width) * 0.75);
    }

    font-size: var(--base-font-size);

    .player {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .player-name {
        padding: 10px;
        max-width: 60%;
        overflow: scroll;
      }

      .player-score {
        padding: 10px;
        font-family: 'Consolas', 'Courier New', Courier, monospace;
      }
    }

    .input-add-player {
      font-size: var(--base-font-size);
    }
  }



  .table-scores {
    /* background-color: lightyellow; */

    grid-area: scores;
    display: flex;
    flex-direction: row;

    overflow: scroll;

    .score {
      height: 80%;
      width: 80%;
    }
  }

  .game-player-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--game-selector-height);

    .dropdown {
      width: 80%;
      height: 80%;
    }
  }

  .player-turn-score {
    /* background-color: blueviolet; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hamburger {
  font-size: 150%;
  display: flex;
  align-items: center;
  justify-content: center;
}